<div class="container">
  <div class="row" *ngFor="let drink of drinks;">
    <div class="col-xs-12 col-md-6">
      <div class="product-content product-wrap">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="product-image">
              <img [src]="drink.strDrinkThumb" height="246" width="238">
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="product-deatil">
              <h5 class="name">
                <a href="#">
                  {{drink.strDrink}}
                </a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
